In [1]:
import pandas as pd

In [12]:
vale = pd.read_csv('dados/vale3.csv')

In [13]:
#Padronizando a nomenclatura das colunas
vale.rename(columns={'Data' : 'DATA_PREGAO', 'Último' : 'VALE'}, inplace = True)

#Removendo colunas desnecessárias
vale.drop(['Abertura', 'Máxima', 'Mínima', 'Vol.', 'Var%'], inplace=True, axis=1)

#Padronizando a coluna DATA_PREGAO
vale['DATA_PREGAO'] = vale['DATA_PREGAO'].apply(lambda x: x.replace('.', '/'))
vale['DATA_PREGAO'] = pd.to_datetime(vale['DATA_PREGAO'], format="%d/%m/%Y")

#Padronizando a coluna de valor
vale['VALE'] = vale['VALE'].apply(lambda x: x.replace(',', '.'))
vale['VALE'] = pd.to_numeric(vale['VALE'], downcast='float')

#Criando índice
vale.set_index('DATA_PREGAO', inplace=True)

In [14]:
vale

                  VALE
DATA_PREGAO
2020-12-30   87.449997
2020-12-29   87.070000
2020-12-28   87.309998
2020-12-23   87.360001
2020-12-22   86.940002
...                ...
2010-01-08   41.320000
2010-01-07   40.919998
2010-01-06   40.750000
2010-01-05   39.900002
2010-01-04   39.529999

[2721 rows x 1 columns]