In [2]:
import pandas as pd

In [45]:
df = pd.read_excel('./data/setorial.xlsx',sheet_name='Plan3',usecols=[0, 1, 2, 3, 4, 5, 6])

In [93]:
##print(df)

for row in df[5:50].iteritems():
    if is_NaN(row):
        print(row)

NameError: name 'is_NaN' is not defined