In [6]:
import pandas as pd
import seaborn as sns

pd.set_option('display.max_rows', 1500)
pd.set_option('display.max_columns', 10)

#Path de Input
path_input_principal = 'C:\\Users\\rafael.melero\\Desktop\\Projetos\\MBA_PUC\\001 - Coleta de dados\\'
anos_analise =['2019', '2020']
#Ações a serem avaliadas
acoes_interesse = ['TAEE11', 'ITSA4', 'BBAS3', 'CMIG4']


def ler_dividendos_statusinvest(path, anos_analise, acoes_interesse):
    
    _file = f'{path}StatusInvest\\Dividendos.xlsx'
    
    df_dividendos = pd.read_excel(_file)
    
    #Removendo colunas
    df_dividendos.drop('TIPO', axis='columns', inplace=True)
    df_dividendos.drop('PAGAMENTO', axis='columns', inplace=True)
    
    #Renomeando colunas
    df_dividendos.rename(columns = {'CODNEG':'CODIGO_NEGOCIACAO', 'DATA COM':'DATA_PREGAO', 'VALOR':'DIVIDENDO'}, inplace = True)
    
    return df_dividendos

df_dividendos = ler_dividendos_statusinvest(path_input_principal, anos_analise, acoes_interesse)

#Indexando base
df_dividendos = df_dividendos.groupby(by=['DATA_PREGAO', 'CODIGO_NEGOCIACAO']).sum()
df_dividendos = df_dividendos.reset_index()
df_dividendos['MES'] = df_dividendos['DATA_PREGAO'].dt.month
df_dividendos.drop('DATA_PREGAO', axis='columns',inplace=True)
df_dividendos = df_dividendos.groupby(by=['MES', 'CODIGO_NEGOCIACAO']).sum()
df_dividendos = df_dividendos.sort_values(['CODIGO_NEGOCIACAO', 'DIVIDENDO'], ascending=False)

df_dividendos["CUM_DIVIDENDO"] = df_dividendos.groupby(['CODIGO_NEGOCIACAO'])['DIVIDENDO'].cumsum(axis=0)

df_total_por_mes = df_dividendos.groupby(['CODIGO_NEGOCIACAO'])['DIVIDENDO'].sum()
df_total_por_mes = df_total_por_mes.to_frame()
df_total_por_mes.rename(columns = {'DIVIDENDO':'TOTAL_CODNEG'}, inplace = True)
df_dividendos = df_dividendos.join(df_total_por_mes, on='CODIGO_NEGOCIACAO')

df_dividendos['PERCENT'] = df_dividendos['CUM_DIVIDENDO'] / df_dividendos['TOTAL_CODNEG']
df_dividendos.query('PERCENT <= 0.9')

                       DIVIDENDO  CUM_DIVIDENDO  TOTAL_CODNEG   PERCENT
MES CODIGO_NEGOCIACAO
5   TAEE11              7.180047       7.180047     24.076098  0.298223
4   TAEE11              4.851941      12.031988     24.076098  0.499748
12  TAEE11              3.762649      15.794637     24.076098  0.656030
11  TAEE11              3.431367      19.226005     24.076098  0.798552
2   ITSA4               2.809020       2.809020      5.968283  0.470658
12  ITSA4               1.236660       4.045680      5.968283  0.677863
8   ITSA4               1.137400       5.183080      5.968283  0.868437
4   CMIG4               9.379842       9.379842     20.968864  0.447322
12  CMIG4               8.337436      17.717278     20.968864  0.844933
8   BBAS3               3.223337       3.223337     19.894841  0.162019
2   BBAS3               2.629846       5.853183     19.894841  0.294206
3   BBAS3               2.591279       8.444462     19.894841  0.424455
5   BBAS3               2.588138      11.032599     19.894841  0.554546
9   BBAS3               2.339718      13.372317     19.894841  0.672150
12  BBAS3               2.239467      15.611784     19.894841  0.784715
11  BBAS3               2.202765      17.814549     19.894841  0.895436